{{ template "header.html" .}}
<main class="container mx-auto prose dark:prose-invert">
  <h1>{{ .MetaData.title }}</h1>
  {{ .Content }}
  <hr class="my-2" />
  <script src="https://giscus.app/client.js"
          data-repo="Yendric/blog"
          data-repo-id="R_kgDOHrZXhw"
          data-category="Blog posts"
          data-category-id="DIC_kwDOHrZXh84CQS0c"
          data-mapping="url"
          data-reactions-enabled="0"
          data-emit-metadata="0"
          data-input-position="top"
          data-theme="preferred_color_scheme"
          data-lang="en"
          data-loading="lazy"
          crossorigin="anonymous"
          defer>
  </script>
</main>
{{ template "footer.html" .}}
